.container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.title {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.title h2 {
  margin: 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.cards a {
  text-decoration: none;
}

.card {
  background-color: #172B3A;
  border-radius: 0 4.5rem;
  color: #fff;
  text-align: center;
  height: 30rem;
  width: 16rem;
}

.card span {
  display: block;
  font-weight: 600;
  font-size: 30px;
  margin-top: 5rem;
}

.icon {
  height: 15rem;
  width: 16rem;
  border-radius: 0 4rem;
}

.socialIcon {
  background-image: url("../../assets/social-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00B2A9;
}

.environmentIcon {
  background-image: url("../../assets/environment-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #B5F22A;
}

.governanceIcon {
  background-image: url("../../assets/governance-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FDD835;
}