* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}



:root {
    --bg-primary: #f5f5f5;
    --bg-gray: #828282;

    --title-primary-blue: #0576AC;
    --title-primary-dark-blue: #1416FF;

}